@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="card text-center">
    <div class="card-header">
        Post Creation
    </div>
    <div class="card-body">
        <h5 class="card-title">Sucess</h5>
        <p class="card-text">You have successfully created a new Post.</p>
        <a asp-area="" asp-controller="Post" asp-action="Index" class="btn btn-primary">View Posts</a>
    </div>
    <div class="card-footer text-body-secondary">
        Just now
    </div>
</div>